


<div class="item item-body">
    <h2 class="titulo">{{p.desc_template}}</h2>
</div>

<div class="list">

    <a class="item item-thumbnail-left" href="#">
      <img src="{{p.metadados.imagem1_grupo1}}">
      <h2>{{p.metadados.titulo1_grupo1}}</h2>
      <p>{{p.metadados.texto1_grupo1}}</p>
    </a>
    
    <a class="item item-thumbnail-right" href="#">
      <img src="{{p.metadados.imagem1_grupo1}}">
      <h2>{{p.metadados.titulo1_grupo1}}</h2>
      <p>{{p.metadados.texto1_grupo1}}</p>
    </a>

</div>

<div style="float: left">
    <h3 id="autorComportamento">{{p.metadados.nome_grupo1}}</h3>
    <div style="float: left">
        <h3>{{p.metadados.titulo1_grupo1}}</h3>
        <img class="imagemIndicador" src="{{p.metadados.imagem1_grupo1}}" />
    </div>
    <div style="float: left">
        <h3>{{p.metadados.titulo2_grupo1}}</h3>
        <img class="imagemIndicador" src="{{p.metadados.imagem2_grupo1}}" />
    </div>
</div>
<div style="float: left">
    <h3 id="autorComportamento">{{p.metadados.nome_grupo2}}</h3>

</div>
<div style="float: left">
    <h3 id="autorComportamento">{{p.metadados.nome_grupo3}}</h3>

</div>
