<div class="list card">
    <div class="item item-body">
        
        <h2 id="tituloComportamento">{{p.desc_template}}</h2>
        <h2 id="tituloComportamento">{{p.metadados.titulo_comportamento}}</h2>
        
        <div id="texto" class="item item-text-wrap">
            {{p.metadados.texto_comportamento}}
        </div>
         <h3 id="autorComportamento">{{p.metadados.autor_comportamento}}</h3>
        <h3 id="descricaoAutorComportamento">{{p.metadados.descricao_autor_comportamento}}</h3>
    </div>
</div>
