<!-- 6 metadados (imagem, nome_pagina, autor_texto, desc_autor, titulo_texto, texto) - 
Nome Template: Texto simples com imagem e detalhamento de autor -->

<div class="list card">
    <div class="item item-body">

        <div class="item item-image">
            <img src="{{p.metadados.imagem}}" />
        </div>

        <h2>{{p.nome_pagina}}</h2>
        
        <h2>{{p.autor_texto}}</h2>
        
        <h2>{{p.desc_autor}}</h2>
        
        <h2>{{p.titulo_texto}}</h2>
        
        <p>{{p.texto}}</p>

    </div>
</div>
