<!-- 25 metadados - Nome template: Grupos de texto e fotos 

nome_pagina
autor
grupo1
	grupo1_titulo1
		grupo1_titulo1_texto1
		grupo1_titulo1_imagem1
	grupo1_titulo2
		grupo1_titulo2_texto2
		grupo1_titulo2_imagem2
grupo2
	grupo2_titulo1
		grupo2_titulo1_texto1
		grupo2_titulo1_imagem1
	grupo2_titulo2
		grupo2_titulo2_texto2
		grupo2_titulo2_imagem2
grupo3
	grupo3_titulo1
		grupo3_titulo1_texto1
		grupo3_titulo1_imagem1
	grupo3_titulo2
		grupo3_titulo2_texto2
		grupo3_titulo2_imagem2
titulo_rodape
	texto_rodape
-->


<div class="item item-body">
    <h2 class="titulo">{{p.metadados.nome_pagina}}</h2>
</div>

<div class="item item-text-wrap">
    <p>{{p.metadados.autor}}</p>
</div>

<div class="list">
    
    <div class="item item-text-wrap">
        <p>{{p.metadados.grupo1}}</p>
    </div>
    
    <a class="item item-thumbnail-left" href="#">
      <h2>{{p.metadados.grupo1_titulo1}}</h2>
      <p>{{p.metadados.grupo1_titulo1_texto1}}</p>
      <img src="{{p.metadados.grupo1_titulo1_imagem1}}">
    </a>
    
    <a class="item item-thumbnail-right" href="#">
      <h2>{{p.metadados.grupo1_titulo2}}</h2>
      <p>{{p.metadados.grupo1_titulo2_texto2}}</p>
      <img src="{{p.metadados.grupo1_titulo2_imagem2}}">
    </a>

</div>

<div class="list">
    
    <div class="item item-text-wrap">
        <p>{{p.metadados.grupo2}}</p>
    </div>
    
    <a class="item item-thumbnail-left" href="#">
      <h2>{{p.metadados.grupo2_titulo1}}</h2>
      <p>{{p.metadados.grupo2_titulo1_texto1}}</p>
      <img src="{{p.metadados.grupo2_titulo1_imagem1}}">
    </a>
    
    <a class="item item-thumbnail-right" href="#">
      <h2>{{p.metadados.grupo2_titulo2}}</h2>
      <p>{{p.metadados.grupo2_titulo2_texto2}}</p>
      <img src="{{p.metadados.grupo2_titulo2_imagem2}}">
    </a>

</div>

<div class="list">
    
    <div class="item item-text-wrap">
        <p>{{p.metadados.grupo3}}</p>
    </div>
    
    <a class="item item-thumbnail-left" href="#">
      <h2>{{p.metadados.grupo3_titulo1}}</h2>
      <p>{{p.metadados.grupo3_titulo1_texto1}}</p>
      <img src="{{p.metadados.grupo3_titulo1_imagem1}}">
    </a>
    
    <a class="item item-thumbnail-right" href="#">
      <h2>{{p.metadados.grupo3_titulo2}}</h2>
      <p>{{p.metadados.grupo3_titulo2_texto2}}</p>
      <img src="{{p.metadados.grupo3_titulo2_imagem2}}">
    </a>

</div>

<div class="item item-text-wrap">
    <p>{{p.metadados.titulo_rodape}}</p>
</div>

<div class="item item-text-wrap">
    <p>{{p.metadados.texto_rodape}}</p>
</div>


</div>