<ion-view view-title="Zeitgeist" ng-init="init()">
    
    <ion-slides options="options" slider="data.slider" >
        <ion-slide-page ng-repeat="p in jornal.paginas">
            <ion-content >
                <div ng-if="p.desc_template == 'Somente imagem'" ng-include src="'templates/_template1.html'"></div>
                <div ng-if="p.desc_template == 'Texto simples com imagem'" ng-include src="'templates/_template2.html'"></div>
                <div ng-if="p.desc_template == 'expediente'" ng-include src="'templates/_template3.html'"></div>
                <div ng-if="p.desc_template == 'Texto simples com imagem e detalhamento de autor'" ng-include src="'templates/_template4.html'"></div>
                <div ng-if="p.desc_template == 'Texto simples sem imagem'" ng-include src="'templates/_template5.html'"></div>
                <div ng-if="p.desc_template == 'Texto duplo sem imagem'" ng-include src="'templates/_template6.html'"></div>
                <div ng-if="p.desc_template == 'Texto livre com imagem'" ng-include src="'templates/_template7.html'"></div>
                <div ng-if="p.desc_template == 'Grupos de texto e fotos'" ng-include src="'templates/_template8.html'"></div>
            </ion-content>
        </ion-slide-page>
    </ion-slides>
</ion-view>