<ion-view ng-init="initEdicoes()">
    <ion-nav-title>
        <img src="img/logo.png" class="header-logo">
    </ion-nav-title>
    <ion-content>
      <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="doRefresh()">
      </ion-refresher>
        <div ng-repeat="jornal in listaJornal" class="list card">
            <div class="item item-avatar">
                <img src="{{jornal.paginas[0].metadados.imagem}}">
                <h2>{{jornal.nom_titulo_jornal}}</h2>
                <p>Nº edição: {{jornal.num_edicao_jornal}}</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="{{jornal.paginas[0].metadados.imagem}}" ng-click="vizualizarEdicao(jornal.num_edicao_jornal)">
            </div>
        </div>
    </ion-content>
</ion-view>
