/* Empty. Add your own CSS if you like */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: arial;
}

.info-edicao {
    font-size: small;
    text-align: right;
}

.list:last-child.card {
    margin-bottom: 0 !important;
}


/*====================================== CSS PADRÃO PARA TODOS ==========================================*/

.no-padding {
    padding: 0 !important;
}

.logotipo span.right-buttons {
    display: flex;
    justify-content: space-around;
}

.zeitgeist {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.zeitgeist img {
    width: 20%
}

.menu-app,
.menu-app .bar .title.title-left {
    text-align: center
}

.itens-menu a {
    padding: 10px 0 !important;
}

.titulo {
    font-size: 24px;
    font-family: arial;
    text-align: center;
    text-transform: uppercase;
    padding: 0 16px;
}

.titulo-texto {
    font-size: 20px;
    font-family: arial;
    text-align: left;
    text-transform: uppercase;
    padding: 0 16px;
}

.capa-informacao p {
    color: #000;
    position: relative;
    bottom: 20px;
    background: #ccc;
    padding: 5px 0;
}

.autor {
    text-align: center;
    text-transform: capitalize;
    padding: 0 16px;
    font-size: 14px;
}

.conteudo-texto {
    line-height: 22px;
    letter-spacing: -1px;
    border: 0;
    text-align: justify;
    margin: 0;
}

.conteudo-texto p {
    text-indent: 30px;
    font-size: 18px;
}

.desc_autor {
    padding: 0 16px;
    margin: 0 !important;
    margin-bottom: 30px !important;
    text-align: left;
}


/*========================= CSS DO TEMPLATE TEXTO SIMPLES COM IMAGEM ===========================*/

.texto-simples-com-imagem .titulo {
    margin-bottom: 0;
}

.texto-simples-com-imagem .conteudo-texto {
    padding-top: 0;
}

.texto-simples-com-imagem .autor {
    margin-bottom: 30px !important;
    margin-top: 0 !important;
}


/*========================= CSS DO TEMPLATE TEXTO SIMPLES SEM IMAGEM ===========================*/

.texto-simples-sem-imagem .conteudo-texto {
    padding-top: 0;
    padding-bottom: 30px;
}

.texto-simples-sem-imagem .autor {
    text-align: left;
}

.texto-simples-sem-imagem .titulo-texto {
    margin: 0;
}


/*========================= GRUPOS DE TEXTO E FOTOS ===========================*/

.grupos-de-texto-e-fotos .titulo {
    text-align: left;
    margin: 0 !important;
    padding: 0 12px !important;
}

.grupos-de-texto-e-fotos .titulo-indicador {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
}

.grupos-de-texto-e-fotos .indicador {
    display: flex;
    font-size: 26px;
    border-right: 1px solid #000;
    width: 50%;
    align-content: center;
    justify-content: space-around;
}

.grupos-de-texto-e-fotos .indicador-autor {
    display: flex;
    font-size: 16px;
    align-content: center;
    width: 50%;
    margin-left: 15px;
    justify-content: space-around;
}

.grupos-de-texto-e-fotos .grupo-indicador a {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
}

.grupos-de-texto-e-fotos .conteudo-esqueda,
.grupos-de-texto-e-fotos .conteudo-direita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 75% !important;
}

.grupos-de-texto-e-fotos .imagem-direita,
.grupos-de-texto-e-fotos .imagem-esqueda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 25% !important;
}

.grupos-de-texto-e-fotos .conteudo-esqueda .texto-grupo,
.grupos-de-texto-e-fotos .conteudo-direita .texto-grupo {
    font-size: 18px !important;
    text-indent: 0 !important;
    line-height: 22px;
    letter-spacing: -1px;
    margin-top: 0 !important;
}

.grupos-de-texto-e-fotos .conteudo-esqueda .texto-grupo {
    margin-right: 10px;
}

.grupos-de-texto-e-fotos .conteudo-direita .texto-grupo {
    margin-left: 10px;
}

.grupos-de-texto-e-fotos .conteudo-direita .titulo-grupo,
.grupos-de-texto-e-fotos .conteudo-esqueda .titulo-grupo {
    font-size: 20px !important;
    text-transform: uppercase;
    letter-spacing: 0px;
}

.grupos-de-texto-e-fotos .conteudo-esqueda .titulo-grupo {
    margin: 0 10px 0 0 !important;
}

.grupos-de-texto-e-fotos .conteudo-direita .titulo-grupo {
    margin: 0 0 0 10px !important;
}

.grupos-de-texto-e-fotos .item.conteudo-texto {
    padding: 5px 12px !important;
}

.grupos-de-texto-e-fotos .categoria-grupo {
    margin-bottom: 10px;
}

.grupos-de-texto-e-fotos h2.titulo-rodape {
    text-align: center;
    font-size: 20px;
    margin-bottom: 0;
    line-height: 22px;
    letter-spacing: -1px;
}

.grupos-de-texto-e-fotos p.texto-rodape {
    font-size: 18px;
    text-align: justify;
    line-height: 18px;
    margin-top: 15px;
    margin-bottom: 25px;
    line-height: 22px;
    letter-spacing: -1px;
    text-indent: 0 !important;
}


/*========================= GRUPOS DE TEXTO E FOTOS ===========================*/

.texto-simples-com-imagem-e-detalhamento-de-autor .autor {
    margin: 0;
    text-align: left !important;
}

.texto-simples-com-imagem-e-detalhamento-de-autor .conteudo-texto p {
    margin: 0 !important;
}


/*========================= TEXTO DUPLO SEM IMAGEM ===========================*/

.texto-duplo-sem-imagem .conteudo-texto {
    padding-bottom: 35px;
}

.texto-duplo-sem-imagem .conteudo-texto {
    padding-top: 0 !important;
}

.texto-duplo-sem-imagem .autor {
    padding-top: 0 !important;
}


/*========================= EXPEDIENTE ===========================*/

.expediente .logo-newton {
    position: absolute;
    bottom: 30px;
    width: 50%;
    left: 50%;
    margin-left: -77px;
}

.expediente .titulo {
    margin-bottom: 0 !important;
}

.expediente .conteudo-texto p {
    text-indent: 0 !important;
    font-size: 16px !important;
    margin: 0 !important;
}